
  <head>
    <meta charset="UTF-8">
    <title>Gráficos con Chart.js</title>
    <script type="module" src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.6.1/chart.min.js"></script>
  </head>
  <body>
    <div>
      <h2>Aciertos y errores por día</h2>
      <div id="chart-container">
        <canvas id="aciertosErroresChart"></canvas>
      </div>
    </div>
    <div>
      <h2>Horas con mayor tasa de aciertos</h2>
      <div id="chart-container-2">
        <canvas id="horasAciertosChart"></canvas>
      </div>
    </div>
    <div>
      <h2>Emociones con mayor tasa de aciertos y fallos</h2>
      <div id="chart-container-3">
        <canvas id="emociones-chart"></canvas>
      </div>
    </div>

    <h2>Tipos de test con mayor tasa de aciertos </h2>
      <div id="chart-container-3">
        <canvas id="aciertosPorTestChart"></canvas>

      </div>
    




  </body>

